html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

body {
    font-family: "Open Sans Bold";
    color: #0f0101;
    font-size: 14px;
    line-height: 21px;
    /* background-color: #e9f0fd; */
}

h2 {
    font-family: "Roboto";
    font-size: 30px;
}

h3 {
    font-family: "Open Sans Semibold";
    font-size: 18px;
}


.header-nav {
    padding-top: 30px;
    /* font-weight: 700; */
    color: #515151;
}

.logo {
    float: left;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    color: #515151;
}

.logo::first-letter {
    color: #4ec6ab;
}

.header-nav__logo {
    margin: 0;
    padding: 0;
}

.header__nav-list {
    float: right;
    width: 465 px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__nav-item {
    float: left;
    margin-right: 35px;
}

.header__nav-item:last-child {
    margin: 0;
}


.header_nav-link {
    display: block
    font-family: "Open Sans Bold";
    font-weight: bold;
    line-height: 11px;
    color: #0f0101;
}



.header_nav-link:hover {
    color: #4ec6ab;
}

.bcg-image {
    /* position: relative; */
    /* max-width: 100%; */
    min-height: 600px;
    background-image: url('../img/bcg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* margin-bottom: 100px; */
}


.main {
    color: #515151;
}

.main-slider {
    position: relative;
    padding-bottom: 100px;
    /* margin-bottom: 100px; */
}


.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);    
}

.slider-button {
    position: absolute;
    width: 1100px;
    height: 200px;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.slider-ctr {
    /* display: inline-block; */
    position: absolute;
    border: none;
    width: 100px;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #54a18f;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-ctr__prev {
    left: 0;
    background-image: url('../img/left.png');
}

.slider-ctr__next {
    right: 0;
    background-image: url('../img/next.png');
}

.slider-button__position {
    position: absolute;
}

.slider-title {
    position: absolute;
    width: 800px;
    top: 42%;
    left: 50%;
    transform: translate(-48%, -50%);
    margin: 0;
    padding: 0%;
    font-family: "Roboto";
    font-size: 60px;
    color: #fff;
}

.slider-text {
    position: absolute;
    width: 500px;
    top: 60%;
    left: 15%;
    margin: 0;
    padding: 0%;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.bcg-color {
    background-color: #e9f0fd;
}

.wrapper {
    padding-bottom: 100px;
}

.header {
    margin: 0 auto;
    margin-bottom: 30px;
}

.container-title {
    text-align: center;
    margin: 0;
    margin-bottom: 120px;
}

.container-title:after {
    display: block;
    width: 160px;
    height: 6px;
    content: "";
    background-color: #4ec6ab;
    margin: auto;
    margin-top: 30px;
    
}

.container-list {
    padding: 0;
    font-size: 0px;
}

.link-cursor {
    display: block;
    /* position: relative; */
    cursor: pointer;
}

.container-item {
    float: left;
    width: 255px;
    list-style: none;
    margin-right: 30px;
}

.container-item:nth-of-type(n+5) {
    margin-bottom: 0;
}

.container-item:nth-child(4n) {
    margin-right: 0px;
}

.container-overlay {
    position: relative;
    width: 240px;    
}

.container-overlay__icons {    
    
}


.container-overlay__all {
    display: none;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);

    display: inline-block;
    width: 50px;
    height: 50px;
}


.container-item:hover .container-overlay__icons {
    position: absolute;
    top: 13px;
    left: 7px;
    width: 100%;
    height: 260px;
    background-color: rgba(10, 10, 10, 0.59) 
}

.container-item:hover .container-overlay__all {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);

    display: inline-block;
    width: 50px;
    height: 50px;
}

.container-overlay__icons-clock {
    display: none;
    top: 75px;
    right: 35px;

    background-image: url('../img/clock.png');
}

.container-overlay__icons-arrows {
    display: none;
    top: 75px;
    right: 90px;
    background-image: url('../img/arrows.png');
    background-color: #4ec6ab;
}

.container-item:hover .container-overlay__icons-arrows {
    top: 75px;
    right: 90px;
    background-image: url('../img/arrows.png');
    background-color: #4ec6ab;
}

.container-overlay__icons-heart {
    display: none;
    background-image: url('../img/heart.png');
    top: 75px;
    left: 45px;
}


.container-overlay__icons-curt {
    display: none;
    position: absolute;
    top: 135px;
    left: 45px;

    display: inline-block;
    width: 160px;
    height: 50px;
    background-image: url('../img/curt.png');
    background-color: #323232;;
    background-repeat: no-repeat;
    background-position: 13px;
    text-align: end;
}

.container-item:hover .container-overlay__icons-curt {
    position: absolute;
    top: 135px;
    left: 45px;

    display: inline-block;
    width: 160px;
    height: 50px;
    background-image: url('../img/curt.png');
    background-color: #323232;;
    background-repeat: no-repeat;
    background-position: 13px;
    text-align: end;
}


.container-overlay__curt-text {
    display: none;
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    /* text-transform: uppercase; */
    /* line-height: 2.286; */
    /* text-align: right; */
    /* position: absolute; */
  }


  

.container-img {
    display: block;
    /* z-index: -1;
    position: relative; */
    max-width: 100%;
    height: auto;
}


.containeritem__link {
    position: absolute;
    bottom: 0;
    line-height: 40px;
    text-align: center;
    /* vertical-align: middle; */
    background-color: #323232;
}

.contaner-list__name {
    float: left;
    width: 200px;
    height: 40px;
    margin: 0;
    margin-top: 0px;
    padding-left: 15px;
    font-size: 18px;
    text-align: left;
    /* text-transform: uppercase; */
    /* vertical-align: middle; */
    /* background-color: #323232; */
    color: #fff;
}

.price {
    float: left;
    width: 55px;
    height: 40px;
    margin: 0;
    font-size: 18px;
    background-color:rgba(255, 255, 255, 0.5);
    color: #fff;
}


.container-item {
    position: relative;
}


.container-item:hover .containeritem__link {
    background-color: #4ec6ab;
}

.container-item:hover .container-overlay {
    background-color: green;
}

.footer {
    display: block;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #323232;
}

.footer-text {
    margin: 0;
    padding: 20px;
    color: #e9f0fd;
    text-align: center;
}

.footer-text__color {
    color: #4ec6ab;
}
  


