body {
    height: 2077;
    font-family: 'Playfair Display Regular';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    
}
.header__nav-list {
    width: auto;
    margin: auto;
    padding: 77px 80px 10px 250px;
}

.header__nav-item {
    display: inline-block;
    /* margin-right: 500; */
}

a {
    display: block;
    width: 250px;
    text-decoration: none;
    text-align: center;

}


.header__nav-link_primary {
    color: #03a9f4;
}

.header__nav-link_secondary {
    color: #626262;
}

.main__section {
    width: 1200px;
    max-width: 100%;
    padding: 192px 0px 0px 115px;
}

.main__saction-div {
    margin: auto;
    width: 906px;
    text-align: center;
}

.main__section-art {
    display: inline-block;
    width: 421px;
    vertical-align: top;
}

.main__section-art:nth-child(even) {
    padding-left: 30px;
}
.main__section-art:nth-child(odd) {
    padding-right: 30px;
}

.main__section-img {
    display: block;
    width: 420px;
    height: 280px;
}

.main__section-title {
    font-family: 'ubuntu light';
    line-height: 17px;
    color: #818181;
    width: 20px;

}

.main__section-main_title {
    text-align: left;
    font-size: 30px;
    line-height: 36px;
}

.main__section-text {
    text-align: left;
}

.button {
    display: block;
    margin:auto; 
    padding: 5px 5px 5px 5px;
}