html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display Regular';
}


.container {
    width: 900px;
    margin: 0 auto;
}

/* для того, щоб коректного відображалося на мобільних пристроях */
/* .container {
    width: 100%;
    max-width: 900;
    margin: auto;
} */

.header__nav {
    padding-top: 73px;
    padding-bottom: 104px;
}

.header__nav-list {
    font-size: 0px;
    padding: 0;
    text-align: center;
}

.header__nav-item {
    display: inline-block;
    font-size: 14px;
}

.header__nav-item:not(:last-child) {
    margin-right: 120px;
}

.header__nav-link {
    display: inline-block;
    text-decoration: none;
    color: #626262;
    text-align: center;    
}

.header__nav-link:hover,
.header__nav-link:focus {
    color:#03a9f4;
}

.main__section {
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
}

.main__saction-div {
    font-size: 0;
    margin-bottom: 70px;
}

.main__section-art {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
}

.main__section-art:nth-child(2n+4) {
    margin-right: 0px;
}

.main__section-img {
    width: 420px;
    height: 280px;
    margin-bottom: 30px;
}

.main__section-title {
    font-size: 14px;
    color: #b4ad9e;
    margin: 0;
    margin-bottom: 27px;
}

.main__section-main_title {
    font-size: 30px;
    color: #626262;
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
}

.main__section-text {
    font-size: 14px;
    text-align: left;
    color: #626262;
    margin: 0;
}

.button {
    display: block;
    margin: auto;
    padding: 10px 10px 10px 10px;
}
