.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 15px;
    margin-top: 30px;
}

.wrapper-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 900px;
}

.wrapper-quote {
    font-family: "Roboto";
    width: 310px;
}


.footer-span {
    color: #f38181;
}

.wrapper-input {
    width: 230px;
}

.wrapper-button {
    font-family: "Roboto";
    width: 130px;
    color: #e7e7e7;
    background-color: #95e1d3;
}
